@model TMEditViewModel
@{
    ViewBag.Title = "Edit Tour";
    var avatarPath = $"/images/{(Model.AvatarPath ?? "Logo.png")}";
    var types = ViewBag.Types as List<TourismManagement.Models.Type>;
}
    <div class="text-center" style="color:#003E60">
        <h1>@ViewBag.Title</h1>
    </div>
<form enctype="multipart/form-data" asp-controller="TourManager" asp-action="Edit" method="post" class="mt-2">
    <input hidden asp-for="ID" />
    <input hidden asp-for="AvatarPath" />
    <div class="row form-group">
        <div class="col-sm-2">
            <label asp-for="TourName"></label>
        </div>
        <div class="col-sm-10">
            <input asp-for="TourName" class="form-control" />
            <span asp-validation-for="TourName" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-2">
            <label asp-for="Desciption"></label>
        </div>
        <div class="col-sm-10">
            <input asp-for="Desciption" class="form-control" />
            <span asp-validation-for="Desciption" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-2">
            <label asp-for="Price"></label>
        </div>
        <div class="col-sm-10">
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
            <div class="col-sm-2">
                <label asp-for="TypeId"></label>
            </div>
            <div class="col-sm-10">
                <select asp-for="TypeId" class="custom-select">
                    <option value=" ">Select a Type</option>
                    @if (types != null)
                    {
                        foreach (var type in types)
                        {
                            <option value="@type.TypeId">@type.TypeName</option>
                        }
                    }
                    </select>
            </div>
        </div>
    <div class="row form-group">
        <div class="col-sm-2">
            <label asp-for="Img"></label>
        </div>
        <div class="col-sm-10">
            <div class="custom-file">
                <input class="custom-file-input" asp-for="Img">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
    </div>
    <div class="row col-4 offset-4">
        <img src="@avatarPath" style="height: 250px; width:auto" asp-append-version="true" id="avatar" />
    </div>
    <div class="row form-group text-center mt-3">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">
                Update
            </button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteRoleModel">
                Delete
            </button>
            <a asp-controller="TourManager" asp-action="Index" class="btn btn-warning">Cancel</a>
        </div>
    </div>
</form>

<!-- The Modal -->
<div class="modal" id="deleteRoleModel">
    <div class="modal-dialog">
        <div class="modal-content">

            <form asp-controller="TourManager" asp-action="Delete" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm delete Tour</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Are you sure for delete this tour ?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <a class="btn btn-danger" asp-controller="TourManager" asp-action="Delete" asp-route-id="@Model.ID">Yes</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
            </form>

        </div>
    </div>
</div>
@section Scripts{
    <script>$(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                $("#avatar").attr("src", window.URL.createObjectURL($(this)[0].files[0]));
            });
        });</script>
}