@model IEnumerable<Role>
@{
    ViewBag.Title = "Role management";
}
    <div class="text-center" style="color:#003E60">
        <h1>@ViewBag.Title</h1>
    </div>
<a asp-controller="Role" asp-action="Create" class="btn btn-primary" style="width:auto">Create role</a>

<table class="table table-bordered table-hover mt-2">
    <thead class="thead-dark text-center">
        <tr>
            <th>ID</th>
            <th>Role Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var role in Model)
            {
                <tr>
                    <td>@role.RoleId</td>
                    <td>@role.RoleName</td>
                    <td>
                        <a asp-controller="Role" asp-action="Edit" asp-route-id="@role.RoleId" class="btn btn-warning">Edit</a>
                        <a asp-controller="Role" asp-action="Edit" asp-route-id="@role.RoleId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>