@inject SignInManager<ApplicationUser> signInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-image:url(/Images/background.jpg);background-size:cover;background-attachment:fixed;">
    <header class="fixed-top" style="background-color:#003E60">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index" style="color:white">
                    <img src="~/Images/Logo.png" alt="Logo"  style="width:60px; height:auto">
                    VSTOURISM
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav">
                        <li>
                            <a class="nav-link" style="color:white" asp-controller="Home" asp-action="Index">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        @if (signInManager.IsSignedIn(User))
                        {
                            if (User.IsInRole("System Admin"))
                            {

                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Role" asp-action="Index">Role</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="User" asp-action="Index">User</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="TourManager" asp-action="Index">TourManager</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Customer" asp-action="Index">CustomerManager</a>
                                </li>
                            }
                            if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="TourManager" asp-action="Index">TourManager</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Customer" asp-action="Index">CustomerManager</a>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li>
                                <form asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit" class="btn btn-link text-white">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="color:white" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="color:white" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <hr />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top card-footer text-mute fixed-bottom" style="background-color:#003E60">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; VSTourism @DateTime.Now.Year</p>
        </div>
        <!-- /.container -->
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
